@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a1a1a;
  --background: #fafafd;
  --page-background: #f0f0f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafd;
    --background: #1c1c1d;
    --page-background: #121212;
  }
}

body {
  color: var(--foreground);
  background-color: var(--page-background);
}